@font-face {
    font-family: timer;
    src: url(CursedTimerUlil.ttf);
    
}

body {
    margin: 0;
}


.container {
    height: 248px;
    width: 575px;
    margin: 60px auto;
    display: flex;
    background: #1B244A;
    justify-content: space-around;
    padding: 68.5px 0;
 }



 p {
   font-family: timer;
   font-size: 105px;
   width: 117px;
   margin: 0;
   color: #F94F6D;
   background: #080001; 
   padding: 15px 20px 0 18px; 
   text-align: center;
   border: 1px solid green;   
} 



h3 {
    font-size: 32px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #EEEEEE;
}

.home, .guest {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    height: 45px;
    width: 45px;
    border: 2px solid #9AABD8; 
    border-radius: 5px;
    background: #1B244A;
    color: #9AABD8;  
    font-family: timer;
}